.style__quote__second {
    margin: 0;
    background: #e9f5fa;
    color: #474C4F;
    padding: 30px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    font-family: Montserrat;
}
.style__quote__second:before {
    content: "\201C";
    font-family: serif;
    position: absolute;
    z-index: 2;
    left: 50%;
    transform: translateX(-50%);
    top: 14px;
    color: #474C4F;
    font-size: 2.15rem;
    background: #e9f5fa;
    padding: 0 15px;
}
.style__quote__second:after {
    content: "";
    position: absolute;
    left: 15px;
    top: 20px;
    right: 15px;
    height: 4px;
    border-top: 1px dotted #474C4F;
    border-bottom: 1px dotted #474C4F;
}
.style__quote__second span {
    font-style: normal;
    font-weight: 300;
}
.style__quote__second p {
    font-size: 20px;
    letter-spacing: .05em;
    line-height: 1.2;
}